body {
    margin: 0%;
}

.menubar {
    display: flex;
    list-style: none;
    font-size: 15px;
    color: gray;
    max-width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;

}

.home {
    display: flex;
}

.login {
    display: flex;
}

#bluehost img {
    height: 20px;
}

#bluehost {
    font-size: 25px;
    margin: 10px 0 10px 10px;
    color: blue;
}

.home>li {
    padding: 10px;
}

.login li {
    padding: 10px;
}

.bi-custom {
    font-size: 50px;
    color: black;
    display: none;
}

#menu-checkbox {
    display: none;
}

@keyframes menubar {
    0% {
        right: 0%;
    }

    100% {
        right: 200px;
    }

}

.toolbar {
    display: flex;
    position: relative;
    bottom: 49px;
    right: 10px;
}

#menu-btn {}

.menu {
    position: relative;
    font-size: 10px;
    display: none;
    color: white;
    background-color: rgba(3, 49, 86, 255);
    padding: 20px 100px 20px 20px;
    list-style: none;

}

.menu li {
    padding: 10px;
    font-size: 15px;
}

#logo>img {
    height: 25px;
    position: relative;
    top: 3px;
}

#logo {
    font-size: 25px;
}

#menu-checkbox:checked+.menu-button {
    animation-delay: 1s;
    animation-name: menubar;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


#menu-checkbox:checked+.menu {

    display: flex;
    flex-direction: column;
    animation-delay: 1s;
    animation-name: menubar;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


.header {
    background-color: rgba(7, 21, 47, 255);
    padding: 0 auto 80px auto;
    color: white;
    width: 100%;
    margin: 0%;
}

.header-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.main-img img {
    width: 600px;
    padding: 30px 20px 30px 0px;
}

.headings {
    list-style: none;
    margin: 30px 0px 30px 10px;
}

#heading-one {
    font-size: 20px;
}

#heading2,
#heading3 {
    font-size: 50px;
    font-weight: bolder;
}

#heading3 span {
    background-color: blue;
    padding: 10px;
    position: absolute;
}

#btn button {
    background-color: #fad64a;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    color: rgba(7, 21, 47, 255)
}

.headings li {
    margin-top: 10px;
}

.services {
    display: flex;
    background-color: rgba(0, 109, 222, 255);
    justify-content: center;
    padding: 0 auto;
    width: 100%;
    background-size: cover;
}

.services nav {
    position: relative;
    bottom: 70px;
    background-color: white;
    padding: 20px;
    margin-right: 25px;
    max-width: 250px;
}

.services>nav>h1 {
    font-size: 35px;
    font-weight: bolder;
    color: black;
}

.services>nav>h3 {
    text-decoration: underline;
    color: blue;
}

.services>nav>li {
    color: grey;
    font-size: 20px;
}

.onlinestore {
    margin-left: 100px;
}

.design {
    margin-right: 130px;
}

.topcard {
    display: flex;
    width: fit-content;
    background-color: rgba(0, 73, 132, 255);
    margin: 45px auto;
    border-radius: 25px;
}

.topcard .pic>img {
    border-radius: 25px;
    height: 300px;
}

.topcard-content {
    margin: 50px 5% 20px 5%;
}

.topcard-content>h3 {
    background-color: #fad64a;
    display: inline;
    font-weight: bolder;
    font-size: 20px;
    padding: 10px 20px;
}

.topcard-content>h1 {
    color: rgb(138, 189, 248);
    font-size: 40px;
    font-weight: bolder;

}

.topcard-content>button {
    font-size: 20px;
    padding: 10px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    justify-content: space-between;
    margin: 50px auto;
}

.cards>img {
    width: 340px;
}

#img4,
#img5 {
    margin-top: 30px;
    width: 500px;
}

/* .search-bar{
    background-color: rgba(0,109,222,255);
    width: 100%;
    justify-content: center;
}
.search{
    display: flex;
} */
@media screen and (max-width: 1024px) {

    .home,
    .login {
        display: none;
    }

    .bi-custom {
        display: block;
    }
    .cards{
        display: flex;
        flex-direction: row;
    }
    .cards img,#img4,#img5{
        width: 100%;
        margin: 30px;
    }

}